.header-box {
	border: 1px solid #e8e8e8;
}

html {
	overflow: auto;
}

body {
	background-color: #f3f3f3;
}

form {
	float: left;
}

#top {
	margin-bottom: 20px;
}

.wrap {
	width: 850px;
}

#footer {
	min-height: 1px;
	margin-bottom: 50px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.wrapper > aside {
	float: left;
	width: 220px;
	min-height: 600px;
	background-color: #242633;
}

.wrapper > article {
	margin-left: 220px;
}

.ui-select {
	margin: 0;
}