.header-box {
	border: 1px solid #e8e8e8;
}

html {
	overflow: auto;
}

body {
	background-color: #f3f3f3;
}

form {
	float: left;
}

#top {
	margin-bottom: 20px;
}

.wrap {
	width: 850px;
}

#footer {
	min-height: 1px;
	margin-bottom: 50px;
}

.wrapper {
	position: relative;
	width: 970px;
	margin: 0 auto;
}

#nav-container {
	width: 220px;
	min-height: 600px;
}

.wrapper > article {
	position: absolute;
	top: 50px;
	left: 220px;
	right: 0;
	bottom: 0;
}

.ui-select {
	margin: 0;
}

.top-header .top-nav .nav-right>li>a {
	width: auto;
}

.top-header .logo a img {
	vertical-align: baseline;
}