.header-box {
	border: 1px solid #e8e8e8;
}

html {
	overflow: auto;
}

body {
	background-color: #fff;
}

#top {
	margin-bottom: 20px;
}

.wrap {
	width: 850px;
}

#footer {
	min-height: 1px;
	margin-bottom: 50px;
}