<div class="page" ng-controller="searchCtrl">
	<section class="panel panel-default">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span>{{form.title}}</strong>
		</div>
		<div class="panel-body">
			<form action="" class="form-horizontal" >
				<input type="hidden" class="form-control" ng-model="searchParams.searchType" value="${field.type}">
				<input type="hidden" class="form-control" ng-model="searchParams['#class']" value="acp.search.bean.SearchRequest">

				<div class="form-group" ng-repeat="field in form.fields">
					<label for="" class="col-sm-3">{{field.label}}</label>

					<div class="col-sm-9" ng-switch="field.type">
						<input type="text" class="form-control" ng-model="searchParams.searchFields[$index].value" ng-switch-when="text">
						<span class="ui-select" ng-switch-when="select">
							<select ng-model="searchParams.searchFields[$index].value" >
								<option value="">Empty</option>
							</select>
						</span>

						<div class="input-group ui-datepicker" ng-switch-when="date">
							<input type="text"
								   class="form-control"
								   datepicker-popup="{{format}}"
								   ng-model="searchParams.searchFields[$index].value"
								   is-open="opened"
								   datepicker-options="dateOptions"
								   date-disabled="disabled(date, mode)"
								   close-text="Close">
							<span class="input-group-addon" ng-click="open($event)">
								<i class="fa fa-calendar"></i>
							</span>
						</div>

						<input type="hidden" class="form-control" ng-model="searchParams.searchFields[$index].name" value="{{field.name}}">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-3">
						<button class="btn btn-success" ng-click="search()">Search</button>
						<div class="space"></div>
						<button class="btn btn-warning" ng-click="reset()">Clear</button>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="panel panel-default table-dynamic" ng-show="show">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span> Search Result</strong>
		</div>
		<table class="table table-bordered table-responsive">
			<thead>
			  <tr>
				<th ng-repeat="returnField in form.returnFields">
				  <div class="th">
					{{returnField.description}}
					<span class="glyphicon glyphicon-chevron-up"
						ng-click="sortUp(returnField.name)"
						ng-class="{active: row == returnField.name}"></span>
					<span class="glyphicon glyphicon-chevron-down"
						ng-click="sortDown(returnField.name)"
						ng-class="{active: row == '-'+returnField.name}"></span>
				  </div>
				</th>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="result in results.results">
					<td ng-repeat="returnField in results.returnFields">{{result[returnField.name]}}</td>
			  </tr>
			</tbody>
		</table>
		<footer class="table-footer">
		  <div class="row">
				<div class="col-md-6 page-num-info">
				  <span>
					Show
					<select ng-model="pagination.percount" ng-change="search()">
					  <option value="3">3</option>
					  <option value="5">5</option>
					  <option value="10">10</option>
					  <option value="20">20</option>
					</select>
					entries per page
				  </span>
				</div>
				<div class="col-md-6 text-right pagination-container">
				  <ul class="pagination-sm pagination">
						<li class="disabled"><a href="">First</a></li>
						<li class="disabled"><a href="">Previous</a></li>
						<li class="active"><a href="">1</a></li>
						<li class=""><a href="">2</a></li>
						<li class=""><a href="">3</a></li>
						<li><a href="">Next</a></li>
						<li><a href="">Last</a></li>
				  </ul>
				</div>
		  </div>
		</footer>
	</section>

</div>
